.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 90vh;
    padding: 2rem;
    background-color: $secondaireBackground;
    transition: all .8s ease-out;


    &__burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        color: white;

        &--line,
        &--line::before,
        &--line::after {
            display: block;
            width: 40px;
            height: 3px;
            position: relative;
            border-radius: 3px;
            background-color: white;
            transition: all .3s ease-in-out;
        }

        &--line::before,
        &--line::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &--line::before {
            transform: translateY(-12px);
        }

        &--line::after {
            transform: translateY(12px);
        }

    }

    &__burger:hover {
        cursor: pointer;
    }

}

.show-nav .navBar {
    right: 0;
    width: 100vw;
    visibility: visible;

    &__burger--line {
        width: 0;
        background-color: transparent;
    }

    &__burger--line::before {
        transform: rotate(45deg) translateY(0);
    }

    &__burger--line::after {
        transform: rotate(-45deg) translateY(0);
    }
}

@media screen and (min-width: 1024px) {
    .navBar {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        visibility: visible;
        height: 10vh;
        right: inherit;
        bottom: inherit;
        width: auto;
        padding: 0;
        transition: none;

        &__burger {
            display: none;
        }
        .navItem:nth-child(2) {
            display: none;
        }
    }
}