* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.arrow {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
    box-sizing: border-box;
    opacity: 0.8;
}
