// Global colors

$primaire: #c12000;
$secondaire: #FFD7D7;
$tertiaire: #4E5166;

// Background colors

$primaireBackground: #FFE9E9;
$secondaireBackground: #4E5166;

// Shadow colors
$shadowPrimaire : 0px 2px 4px rgba(0, 0, 0, 0.15);

// Media queries
$dekstop : 1024px;
