.header , .primaryHeader {
    width: 100vw;
    height: 10vh;
    background-color: $secondaireBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25rem;
        scale: .6;

        img {
            fill-opacity: 0;
        }
    }
}
.primaryHeader {
    justify-content: space-between;
}